@font-face {
    font-family: 'R-r';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'jogo';
    src: url('../fonts/04b03.woff2') format('woff2'),
        url('../fonts/04b03.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'start';
    src: url('../fonts/PressStart2P.woff2') format('woff2'),
        url('../fonts/PressStart2P.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'R-b';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'R-l';
    src: url('../fonts/Roboto-Light.woff2') format('woff2'),
        url('../fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'R-m';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'R-bl';
    src: url('../fonts/Roboto-Black.woff2') format('woff2'),
        url('../fonts/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Y-b';
    src: url('../fonts/YanoneKaffeesatz-Bold.woff2') format('woff2'),
        url('../fonts/YanoneKaffeesatz-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Y-r';
    src: url('../fonts/YanoneKaffeesatz-Regular.woff2') format('woff2'),
        url('../fonts/YanoneKaffeesatz-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'A-r';
    src: url('../fonts/Anton-Regular.woff2') format('woff2'),
        url('../fonts/Anton-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Y-l';
    src: url('../fonts/YanoneKaffeesatz-Light.woff2') format('woff2'),
        url('../fonts/YanoneKaffeesatz-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    
}
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?64987339');
  src: url('../fonts/fontello.eot?64987339#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?64987339') format('woff2'),
       url('../fonts/fontello.woff?64987339') format('woff'),
       url('../fonts/fontello.ttf?64987339') format('truetype'),
       url('../fonts/fontello.svg?64987339#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?64987339#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 


.icon-facebook-01:before { content: '\e800'; } /* '' */
.icon-instagran-01:before { content: '\e801'; } /* '' */
.icon-linkedin-01:before { content: '\e802'; } /* '' */
.icon-lupa-01:before { content: '\e803'; } /* '' */
.icon-seta-baixo-01:before { content: '\e804'; } /* '' */
.icon-seta-btn-01:before { content: '\e805'; } /* '' */
.icon-seta-dir-01:before { content: '\e806'; } /* '' */
.icon-seta-esq-01:before { content: '\e807'; } /* '' */
.icon-twitter-01:before { content: '\e808'; } /* '' */
.icon-v-01:before { content: '\e809'; } /* '' */
.icon-x-01:before { content: '\e80a'; } /* '' */
.icon-mensagem-01:before { content: '\e80b'; } /* '' */
.icon-local-01:before { content: '\e80c'; } /* '' */
.icon-lampada:before { content: '\e80d'; } /* '' */
.icon-calendario:before { content: '\e80e'; } /* '' */
.icon-logo-open:before { content: '\e80f'; } /* '' */
.icon-megaphone:before { content: '\e810'; } /* '' */
.icon-sms:before { content: '\e811'; } /* '' */
.icon-chat:before { content: '\e812'; } /* '' */
.icon-plus:before { content: '\e813'; } /* '' */
.icon-trash-empty:before { content: '\e814'; } /* '' */