* {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: baseline;
    border: 0 none;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.fullHeight {
    height: 100%;
}

body {
    font-size: toem(16);
    font-family: $regular;

    width: 100%;
    color: #33383e;

    @include notebook {
        font-size: 13px;
    }
    @include tabletW {
        font-size: 11px;

        position: relative;

    }

    @include mobile {
        font-size: 10px;
    }
}

:focus {
    outline: none;
}

footer ~ iframe {
    display: none;
}

span {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

.none {
    display: none;
}

.left {
    float: left;
}

.both,
.cboth {
    clear: both;
}

@media screen and (max-width: 1024px) {
    .tablet-cboth {
        clear: both;
    }
}


.container-100 {
    position: relative;
    height: 100%;
}

.table {
    display: table;
    height: 100%;
    vertical-align: middle;
    width: 100%;
}


.vertical {
    display: table-cell;
    vertical-align: middle;
}

.center {
    text-align: center;
}

.relative {
    position: relative;
}

.clearfix {
    *zoom: 1;

    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

section:not(.home) {
    @include tabletW {
        height: auto!important;
    }

}

.slick-slide img {
    margin: 0 auto;
}
