@import "compass/css3";
@import "compass/utilities";

$notebook: "screen and (max-width: 1600px)";
$tabletW: "screen and (max-width: 1025px)";
$tabletH: "screen and (max-width: 800px)";
$mobile: "screen and (max-width: 767px)";
$miniMoble: "screen and (max-width: 450px)";
$demaisMonitores : "screen and (min-width: 1025px) and (max-width: 1368px)";

$regular : "Y-r";
$bold : "Y-b";
$light : "Y-l";
$anton : "A-r";
$jogo : "jogo";
$start : "start";

// Blog

$roboto-r:"R-r";
$roboto-b:"R-b";
$roboto-l:"R-l";
$roboto-m:"R-m";
$roboto-bl:"R-bl";

@mixin responsive-bg-image($image-width, $image-height) {
  background-size: 100%;
  height: 0;
  padding-bottom: percentage($image-height / $image-width);
  display: block;
}


@mixin notebook {
  @media #{$notebook} {
    @content;
  }
}
@mixin demaisMonitores {
  @media #{$demaisMonitores} {
    @content;
  }
}

@mixin tabletW {
  @media #{$tabletW} {
    @content;
  }
}

@mixin tabletH {
   @media #{$tabletH} {
    @content;
  }
}

@mixin mobile {
  @media #{$mobile} {
    @content;
  }
}

@mixin miniMobile {
  @media #{$miniMoble} {
    @content;
  }
}


@function toem($pxsize) {
    @return ($pxsize/16)+em;
}

@mixin input-placeholder($color) {
    &::-moz-placeholder {
        color: $color;
    }
    &::-webkit-input-placeholder {
        color: $color;
    }
    &:-ms-input-placeholder {
        color: $color;
    }
}

@mixin transition($transition){
     -webkit-transition: $transition;
     -moz-transition: $transition;
     -o-transition: $transition;
     transition: $transition;
}
@mixin center($width: null, $height: null) {
  position: absolute;
  top: 50%;
  left: 50%;

  @if not $width and not $height {
    transform: translate(-50%, -50%);
  } @else if $width and $height {
    width: $width;
    height: $height;
    margin: -($width / 2) #{0 0} -($height / 2);
  } @else if not $height {
    width: $width;
    margin-left: -($width / 2);
    transform: translateY(-50%);
  } @else {
    height: $height;
    margin-top: -($height / 2);
    transform: translateX(-50%);
  }
}




