.pg404{
     background: #e8e9eb url("../img/bg-404.jpg") no-repeat top center;
    width: 100%;
    height: 100%;
    position: relative;
    @include tabletW{
        padding: 150px 0;
    }
    img{
        margin-top: 241px;
        @include notebook{
            margin-top: 100px;
        }
        @include tabletW{
            margin-top: 0;
            
        }
        
        
        
    }
    
    
    h1{
        font-size: toem(35);
        color: #ffffff;
        text-transform: uppercase;
        text-align: center;
        font-family: $anton;
        font-weight: 400;
        letter-spacing: 2px;
        margin-top: 40px;
    }
    p{
        font-size: toem(25);
        color: #3fc0be;
        text-align: center;
        font-family: $regular;
        margin: 35px 0;
        
    }
}