/**** Blog Home  **/

.blog-home {
    height: 640px;
    overflow: hidden;
    @include notebook {
        height: 480px;
    }
    @include tabletW {
        height: auto;

    }
    h2 {
        color: #ffffff;
        line-height: 1;
        font-size: toem(71);
        letter-spacing: 2px;
        margin-top: 60px;
        &.title-blog {
            font-size: toem(30);
            margin-top: 75px;
            max-height: 180px;

        }
    }
    hr {
        height: 5px;
        background: #3dc0bc;
        width: 30%;
        margin: 25px auto;
        @include mobile{
             margin: 15px auto;
        }
    }
    p {
        font-family: $light;
        font-size: toem(22);
        color: #ffffff;
        text-align: left;
        @include mobile {
            font-size: 1.7em;
        }
    }
    .grid-25:nth-child(odd) {
        .b-hover {
            .chamada-blog {
                background: #e8e9eb;
                @include tabletW {
                    background: transparent;
                }
            }
        }

    }
    .chamada-blog {
        position: relative;
        z-index: 2;
        padding-top: 50px;
        height: 640px;
        padding: 0 105px;
        @include transition(background 1s);
        @include notebook {
            height: 480px;
            padding: 0 50px;
        }
        @include demaisMonitores {
            padding: 0 20px;
        }
        @include tabletW {
            height: 300px;
            padding: 15%;
        }


    }
    .box-blog {
        text-align: center;
        background: url("../img/img-blog-1.jpg") no-repeat top center;
        width: 100%;
        background-size: cover;
        position: relative;
        overflow: hidden;

        @include tabletW {
            position: relative;
            padding: 60px 0 0 0;
        }
        .mask {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(5, 0, 6, 0.7);

        }
        .chamada-blog {
            @include tabletW {
                height: auto;
                padding: 16% 23%;


            }
            @include mobile {
                padding: 10%;
            }
            h2 {
                @include tabletW {
                    margin-top: 0;
                }
            }
        }

        &.post-blog {
            text-align: center;
            width: 100%;
            background-size: cover;
            position: relative;
            overflow: hidden;
            height: 320px;
            @include transition( height 0.1s);
            @include notebook {
                height: 250px;
            }
            @include tabletW {
                height: 300px;

            }

        }


    }
    .b-hover {
        position: relative;
        left: 0;
        top: 0;
        @include tabletW {
            position: absolute;
        }

        .mask {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @include transition( background-color 0.3s);

        }

        h2 {
            line-height: 1.2;
            color: #233d58;
            @include tabletW {
                color: #ffffff;

                font-size: 2em;
            }

        }
        .chamada-blog {
            height: 640px;
            background: #ffffff;
            @include notebook {
                height: 480px;
            }
            @include tabletW {
                background: transparent;
                height: 300px;
            }
        }
        .title-blog {
            font-size: 1.875em;
            margin-top: 0px;
            min-height: 320px;
            float: left;
            text-align: center;
            @include tabletW {
                min-height: 100px;
            }


        }
        .btn {
            border: 5px solid #f34336;
        }
    }
    .bloco-blog {
        height: 100%;
        @include tabletW {
            position: relative;
        }
        &:hover {
            .b-hover {
                top: -640px;
                background: none;
                @include transition(top 1s);
                @include notebook {
                    top: -480px;
                }
                @include tabletW {
                    display: none;
                }
                .chamada-blog {
                    background: none;
                }
                .title-blog {
                    min-height: auto;
                    color: #ffffff;

                }
                .mask {
                    background-color: rgba(35, 61, 88, 0.7);
                }
            }
            .post-blog {
                height: 100%;
            }
        }
    }
    .btn-blog {
        margin-top: 80px;
        border: 5px solid #3dc0bc;
        background: none;
        text-align: left;
        padding: 16px;
        font-size: toem(25);
        font-weight: 400;

        @include notebook {
            margin-top: 30px;
        }
        i {
            font-size: 1.5em;
            position: absolute;
            top: 10px;
            right: 8px;
            border: none;
        }

        &:hover {
            color: #ffffff;
            background: #3dc0bc;
            border: 5px solid #3dc0bc;
        }
    }
  .lista{
        &:nth-child(2n+1){
            figure{
                .title{
                        background: #ffffff;
                    
                }
            }
        }
    }
    figure {
        transition: all 200ms;
        display: inline-block;
        background: black;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        @include tabletW {
            height: 476px;

        }
        @include mobile {
            height: 300px;
        }
        img {

            background-size: cover;
            height: 100%;
            background-position: top center;


            @include tabletW {
                transform: scale(1.5);
            }
        }
        &:hover {
            border-width: 9px;
            @include tabletW {
                pointer-events: none;
            }
            .title {
                transform: translate(0, 320px);
                background-color: rgba(5, 0, 6, 0.7)!important;
                @include notebook {}
            }
            
            img {
                transform: scale(1.5)
            }
            .description {
                opacity: 1;
                transform: translateY(-380px);
                height: 100%;
                h2 {
                    padding-top: 220px;
                }
            }
            .btn-blog-c {
                transform: translateY(-138px);
                opacity: 1;

                @include notebook {
                    transform: translateY(-108px);
                }
            }
            img {
                height: 100%;
            }

        }

        & .title {
            position: absolute;
            bottom: 0px;
            width: 100%;
            font-size: 1.875em;
            text-align: center;
            transition: all 400ms;
            background: #e8e9eb;
            height: 320px;
            padding: 90px;
            line-height: 1.2;
            color: #233d58;
            @include notebook {
                height: 262px;
                padding: 55px;
            }
            @include demaisMonitores {
                font-size: 1.8em;
                padding: 50px;

            }
            @include tabletW {
                position: relative;
                height: 254px;
                background-color: rgba(5, 0, 6, 0.7);
                transform: translate(0, 320px);


            }
            @include mobile {
                height: 300px;
                font-size: 1.5em;
                transform: translate(0, 320px);
                padding: 30px;
            }

        }
        & img {
            width: 100%;
            position: absolute;
            transition: all 500ms;
            background-size: cover;
            height: 100%;
            background-position: top center;

        }
        @include tabletW {}

    }
    .description {
        width: 100%;
        opacity: 0;
        height: 100px;
        position: absolute;
        top: 0;
        left: 0;

        transition: all 300ms;
        text-align: center;
        @include tabletW {
            position: relative;
            opacity: 1;
            transform: translateY(-380px);
            height: 430px;
        }

        h2 {
            color: #ffffff;
            height: 100%;
            top: 0;
            @include notebook {
                font-size: 1.5em;
                padding-top: 135px;
            }
            @include demaisMonitores {
                font-size: 1em;

            }
            @include tabletW {
                height: 430px;
            }
            @include mobile {
                height: 300px;

                font-size: 1.7em;
                padding-top: 100px;


            }
        }
    }

    .btn-blog-c {

        opacity: 0;
        transition: all 500ms; //transition-delay:500ms;
        position: absolute;
        bottom: -60px;
        width: 70%;
        margin: auto;
        margin-left: 12%;
        @include tabletW {
            transform: translateY(-108px);
            opacity: 1;
            margin-left: 12%;
            pointer-events: all;
            bottom: -46px;
            width: 54%;
        }
        @include mobile {
            bottom: -56px;
            width: 72%;
            margin-left: 10%;

        }

    }
  
    
    


}

/**** Página Blog **/

.page-template-page-blog,
.single-post,
.category {

    .header {
        background: #233d58;
    }
}

.single-post {
    .content-blog {
        margin-top: 400px;
        @include tabletW {
            margin-top: 100px;
            padding: 0 50px;
        }
        @include mobile {
            padding: 0 25px;
        }
    }
    .content-post {
        padding: 50px 0;
        iframe {
            width: 100%;
        }
        h1 {
            font-family: $roboto-b;
            font-size: toem(60);
            color: #233d58;
            @include mobile {
                font-size: 2.5em;
            }
        }
        .l-title {
            height: 4px;
            width: 165px;
            background: #f34336;
            margin-top: 25px;
        }
        .social {
            width: 100%;
            display: inline-block;
            li {
                display: inline;
                margin: 0 8px;
                float: left;
                padding: 50px 0 20px 0;
                a {
                    background: #3dc0bc;
                    float: left;
                    padding: 10px 0 0px 0;
                    i {
                        color: #ffffff;
                        font-size: 1.8em;
                        position: relative;
                        top: -8px;
                        @include mobile {
                            top: -5px;
                        }

                    }
                    &:hover {
                        background-color: rgba(34, 57, 81, 1);
                    }
                }
                @include mobile {
                    padding: 10px 0;
                }


            }
        }
        .artigo {

            h2 {
                font-family: $roboto-b;
                font-size: toem(30);
                color: #7b7b7b;
                text-transform: inherit;

            }
            p {
                color: #7b7b7b;
                font-family: $roboto-r;
                font-size: toem(18);
                line-height: 1.6em;
                margin: 25px 0;
                @include mobile{
                    font-size: 1.5em;
                }
                strong {
                    font-family: $roboto-b;
                }

            }
            a {
                color: #3dc0bc;
                font-family: $roboto-b;

            }
            #lista-link {
                margin-top: 25px;
                list-style: none;
                li {
                    margin: 5px 0;
                    font-size: toem(18);
                    list-style: none;
                    a {
                        font-family: $roboto-r;
                    }
                    strong {
                        font-family: $roboto-b;
                    }
                }
            }
            h3 {
                font-family: $roboto-b;
                font-size: toem(25);
                color: #7b7b7b;
                text-transform: inherit;

            }
            ul {
                list-style: initial;
                margin-left: 40px;
                li {
                    list-style: initial;
                    margin: 5px 0;
                    font-size: 1.2em;
                    font-family: $roboto-r;
                    font-size: toem(18);
                    color: #7b7b7b;
                }
            }

            ol {
                list-style: decimal;
                margin-left: 40px;
                li {
                    list-style: decimal;
                    margin: 5px 0;
                    font-size: 1.2em;
                    font-family: $roboto-r;
                    font-size: toem(18);
                    color: #7b7b7b;
                }
            }
        }
        .line-end {
            height: 4px;
            width: 165px;
            background: #f34336;
            display: block;
            margin: 50px auto;
        }
        .gravatar {
            border: 15px solid #233d58;
            padding: 60px 60px 0 60px;
            position: relative;
            @include mobile {
                padding: 50px 0;
                position: relative;

            }
            .name-author {
                color: #f34336;
                text-transform: uppercase;
                font-size: toem(40);
                font-family: $anton;
            }
            .content-author {
                color: #1d2d40;
                font-size: toem(18);
                line-height: 1.5em;
                font-family: $roboto-r;
                display: block;
                margin-top: 10px;
            }
            .img-gravatar {
                width: 215px;
                height: 215px;
                background: #3dc0bc;
                @include border-radius(50%);
                position: relative;
                left: -62px;
                top: -142px;
                overflow: hidden;
                text-align: center;
                @include mobile {
                    width: 145px;
                    height: 145px;
                    top: -43px;
                    left: 0;
                }
                img {
                    margin-top: 47px;
                    text-align: center;
                }
            }
        }

    }
}

.header-categoria {
    height: 400px!important;
    background: #e8e9eb;
    position: relative;
    top: 86px;
    @include mobile {
        top: 57px;
    }
    .lista-categorias {
        position: relative;
        top: 55px;
        @include tabletW {
            top: 10px;
        }
        .box-categoria {
            height: 238px;
            text-align: center;
            transition: all 500ms ease;
            position: relative;
            box-sizing: border-box;
            &.agencia-open {
                background: $cor-open;
            }
            &.eventos {
                background: $cor-eventos;
            }
            &.mercado {
                background: $cor-mercado;
            }
            &.social-media {
                background: $cor-social;
            }
            &.tecnologia {
                background: $cor-tecnologia;
            }
            &.variedades {
                background: $cor-variedades;
            }


            h2 {
                font-size: toem(25);
                margin-top: 0;
                text-transform: inherit;
                @include mobile{
                    font-size: 1.7em;
}
            }
            @include mobile {
                height: 105px;

            }
            a {
                width: 100%;
                height: 100%;
                position: relative;
            }
            i {
                font-size: 4em;

                color: #ffffff;
                @include mobile {
                    font-size: 4em;
                }
            }
            hr {
                background: #ffffff;
                width: 20%;
                margin: 15px auto;
                @include mobile {

                    margin: 5px auto;
                }
            }
            &:before {
                content: '';
                position: absolute;
                top: 0px;
                left: 0px;
                width: 0px;
                height: 100%;
                background: rgba(255, 255, 255, 0.3);
                transition: all 0.5s ease;
            }
            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }
        h1 {
            color: #ffffff;
            line-height: 1;
            font-size: 4.4375em;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-family: "A-r";
            font-weight: 400;


        }
        .box-blog {
            @include tabletW {
                padding: 0;
            }
        }
    }
    .blog-home {
        height: 476px;
        @include tabletW {
            height: auto;
        }
        .blox-blog {
            height: 476px;
            @include tabletW {
                height: auto;

            }
        }
        .chamada-blog {
            height: 476px;
            padding: 50px;
            @include tabletW {
                height: auto;
            }
            @include mobile {
                padding: 20px;
            }
            p {

                @include tabletW {
                    text-align: center;
                }
                @include mobile {
                    font-size: 1.7em;
                    padding: 0 50px;
                }
            }
        }
        h1 {
            margin-top: 0px;
        }
    }
}

.content-blog {
    position: relative;
    height: auto !important;
    margin-top: 300px;
    padding-bottom: 150px;
    @include tabletW {
        margin-top: 115px;

    }
    @include mobile {
        padding-bottom: 50px;
    }
    .box-blog {
        height: 627px;
        margin-bottom: 20px;
        @include notebook {
            height: 560px;
        }
        @include demaisMonitores {
            height: 535px;
        }
        @include tabletW {
            height: auto;
        }
        @include mobile {
            height: 350px;
        }
        .btn-blog {
            margin-top: 80px;
            border: 5px solid #3dc0bc;
            background: none;
            text-align: left;
            padding: 16px;
            font-size: toem(25);
            font-weight: 400;
            @include notebook {
                margin-top: 30px;
            }
            i {
                font-size: 1.5em;
                position: absolute;
                top: 10px;
                right: 8px;
                border: none;
            }
            &:hover {
                color: #3dc0bc;
                background: #ffffff;
                border: 2px solid #3dc0bc;
            }
        }
        figure {
            transition: all 200ms;
            display: inline-block;
            background: black;
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;

            @include tabletW {
                height: 430px;

            }
            @include mobile {
                height: 350px;
            }
            img {
                width: 600px;
                height: 314px;
                background-size: cover;
                height: 100%;
                background-position: top center;
                @include tabletW {
                    transform: scale(1.5);
                }

            }
            &:hover {
                border-width: 9px;
                @include tabletW {
                    pointer-events: none;
                }
                .title {
                    transform: translate(0, 380px);
                    background-color: rgba(5, 0, 6, 0.7);
                    border: none!important;
                    @include notebook {
                        font-size: 2em;
                    }
                }
                .date {
                    top: 50px;
                    color: #f34336!important;
                }
                .bx {
                    opacity: 0;

                }


                img {
                    transform: scale(1.5)
                }
                .description {
                    opacity: 1;
                    transform: translateY(-380px);
                    height: 100%;
                    h2 {
                        padding-top: 110px;
                    }
                }
                .btn-blog-c {
                    transform: translateY(-138px);
                    opacity: 1;

                    @include notebook {
                        transform: translateY(-108px);
                    }
                }
                img {
                    height: 100%;
                }
                #outer {
                    top: -500px;

                }
                hr {
                    top: 670px;
                    background: #f34336!important;
                    @include demaisMonitores {
                        top: 630px;
                    }
                }

            }

            & .title {
                position: absolute;
                bottom: 0px;
                width: 100%;
                font-size: 1.875em;
                text-align: center;
                transition: all 400ms;
                background: #e8e9eb;
                height: 320px;
                padding: 70px 50px;
                line-height: 1.2;
                color: #233d58;
                border-top: 20px solid #493dc0;
                z-index: 10;
                @include notebook {
                    height: 262px;
                }
                @include demaisMonitores {
                    font-size: 1.8em;
                    padding: 130px 50px;
                }
                @include tabletW {
                    position: relative;
                    height: 254px;
                    background-color: rgba(5, 0, 6, 0.7);
                    transform: translate(0, 380px);
                    font-size: 1.2em;


                }
                @include mobile {
                    height: 300px;
                    font-size: 1.5em;
                    transform: translate(0, 380px);
                    padding: 30px;
                }


            }
            .bx {
                width: 65px;
                height: 65px;
                border-radius: 40px 40px 40px 40px;
                -moz-border-radius: 40px 40px 40px 40px;
                -webkit-border-radius: 10px 0px 65px 0px;
                border: 0px solid #000000;
                transform: rotate(47deg) scale(1) skew(1deg) translate(0px);
                -webkit-transform: rotate(45deg) scale(1) skew(1deg) translate(0px);
                -moz-transform: rotate(47deg) scale(1) skew(1deg) translate(0px);
                -o-transform: rotate(47deg) scale(1) skew(1deg) translate(0px);
                -ms-transform: rotate(47deg) scale(1) skew(1deg) translate(0px);
                position: relative;
                z-index: 99;
                top: 255px;
                background: #ffffff;
                margin: 0 auto;
                opacity: 1;
                transition: all 400ms;

                &:before {
                    font-family: 'fontello';
                    opacity: 1;
                    position: relative;
                    color: #ffffff;
                    text-align: center;
                    display: block;
                    content: '\e80f';
                    left: 0;
                    top: 3px;
                    left: -8px;
                    font-size: 35px;
                    transform: rotate(-45deg) scale(1) skew(1deg) translate(0px);
                    -webkit-transform: rotate(-45deg) scale(1) skew(1deg) translate(0px);
                    -moz-transform: rotate(-45deg) scale(1) skew(1deg) translate(0px);
                    -o-transform: rotate(-45deg) scale(1) skew(1deg) translate(0px);
                    -ms-transform: rotate(-45deg) scale(1) skew(1deg) translate(0px);



                }
                @include notebook {
                    top: 207px;
                }

            }

            & img {
                width: 100%;
                position: absolute;
                transition: all 500ms;
                background-size: cover;
                height: 100%;
                background-position: top center;


            }
            @include tabletW {

                pointer-events: none;

            }
            .date {
                max-width: 100%;
                position: relative;
                top: 360px;
                text-align: center;
                display: block;
                z-index: 100;
                font-size: toem(17);
                color: #493dc0;
                font-family: $roboto-m;
                text-transform: uppercase;
            }
            hr {
                position: relative;
                height: 3px;
                z-index: 99999;
                width: 30%;
                margin: 0 auto;
                background: #000;
                top: 551px;
                display: block;

            }

        }
        .description {
            width: 100%;
            opacity: 0;
            height: 100px;
            position: absolute;
            top: 0;
            left: 0;

            transition: all 300ms;
            text-align: center;
            @include tabletW {
                position: relative;
                opacity: 1;
                transform: translateY(-380px);
                height: 430px;
            }

            h2 {
                color: #ffffff;
                height: 100%;
                top: 0;
                @include notebook {
                    font-size: 1.5em;
                    padding-top: 135px;
                }
                @include demaisMonitores {
                    font-size: 1em;

                }
                @include tabletW {
                    height: 430px;
                    font-size: 2.3em;
                    padding-top: 40px;
                }
                @include mobile {
                    height: 350px;
                    font-size: 2em;

                }
            }
            p {
                position: relative;
                top: 700px;
                color: #ffffff;
                z-index: 20;
                padding: 0 30px;
                background: none;
                font-family: $roboto-r;
                font-size: toem(18);
                @include demaisMonitores {
                    top: 658px;
                }
                @include tabletW {
                    top: 155px;
                    font-size: 1.3em;
                }
                @include mobile {
                    font-size: 1.5em;
                    top: 180px;
                }
            }

        }
        &.agencia-open {
            figure {
                .title {
                    border-top: 20px solid $cor-open;

                }
                #inner {
                    background: $cor-open;
                }
                .line-post {
                    background: $cor-open;
                }
                .date {
                    color: $cor-open;
                }
                &:hover {}
                .bx {
                    background: $cor-open;
                    &:before {
                        content: '\e80f';
                    }
                }
            }

        }
        &.eventos {
            figure {
                .title {
                    border-top: 20px solid $cor-eventos;

                }
                #inner {
                    background: $cor-eventos;
                }
                .line-post {
                    background: $cor-eventos;
                }
                .date {
                    color: $cor-eventos;
                }
                &:hover {}
                .bx {
                    background: $cor-eventos;
                    &:before {
                        content: '\e80e';
                    }
                }
            }
        }
        &.mercado {
            figure {
                .title {
                    border-top: 20px solid $cor-mercado;

                }
                #inner {
                    background: $cor-mercado;
                }
                .line-post {
                    background: $cor-mercado;
                }
                .date {
                    color: $cor-mercado;
                }
                &:hover {}
                .bx {
                    background: $cor-mercado;
                    &:before {
                        content: '\e810';
                    }
                }
            }
        }
        &.social-media {
            figure {
                .title {
                    border-top: 20px solid $cor-social;

                }
                #inner {
                    background: $cor-social;
                }
                .line-post {
                    background: $cor-social;
                }
                .date {
                    color: $cor-social;
                }
                &:hover {}
                .bx {
                    background: $cor-social;
                    &:before {
                        content: '\e811';
                    }
                }
            }
        }
        &.tecnologia {
            figure {
                .title {
                    border-top: 20px solid $cor-tecnologia;

                }
                #inner {
                    background: $cor-tecnologia;
                }
                .line-post {
                    background: $cor-tecnologia;
                }
                .date {
                    color: $cor-tecnologia;
                }
                &:hover {}
                .bx {
                    background: $cor-tecnologia;
                    &:before {
                        content: '\e80d';
                    }
                }
            }
        }
        &.variedades {
            figure {
                .title {
                    border-top: 20px solid $cor-variedades;

                }
                #inner {
                    background: $cor-variedades;
                }
                .line-post {
                    background: $cor-variedades;
                }
                .date {
                    color: $cor-variedades;
                }
                &:hover {}
                .bx {
                    background: $cor-variedades;
                    &:before {
                        content: '\e812';
                    }
                }
            }
        }
    }
    .btn-blog-c {

        opacity: 0;
        transition: all 500ms; //transition-delay:500ms;
        position: absolute;
        bottom: -60px;
        width: 70%;
        margin: auto;
        margin-left: 12%;
        border: 5px solid #f34336!important;
        @include tabletW {
            transform: translateY(-108px);
            opacity: 1;
            margin-left: 12%;
            pointer-events: all;
            bottom: -46px;
            width: 54%;
        }
        @include mobile {
            bottom: -88px;
            width: 72%;
            margin-left: 10%;

        }

    }

}

/** Interna Blog **/

.vitrine-interna {
    margin: 50px 0;
}
