.clientes {
    padding: 180px 0 180px 0;
    position: relative;
    @include notebook {
        padding: 120px 0 120px 0;

    }
    @include tabletW {
        padding: 55px 0 142px 0;
    }
    @include mobile {
        padding: 100px 20px 50px 20px;
    }
    .logo-clientes {
        margin-top: 70px;
        @include notebook {
            margin-top: 20px;

        }
        @include mobile {
            margin-top: 0;
        }
        text-align: center;


        .content-lista {
            text-align: center;
            border-bottom: 1px solid #e9e9e9;
            border-right: 1px solid #e9e9e9;
            padding: 20px 0;
            margin-bottom: -1px;
            margin-right: -12px;
            @include notebook {
                padding: 10px 0;
            }
            img {
                -webkit-filter: grayscale(100%);
                -moz-filter: grayscale(100%);
                -ms-filter: grayscale(100%);
                -o-filter: grayscale(100%);
                filter: grayscale(100%);
                @include tabletW {
                    filter: none;
                }
            }
            &:hover {
                img {
                    filter: none;
                }
            }

        }

        .table {
            height: 95px;

            @include notebook {
                height: 70px;

            }
        }
        .grid-25:nth-child(4n) .content-lista {
            border-right: none;
        }
    }
    .btn-clientes {
        margin-top: 80px;
        @include notebook {
            margin-top: 30px;

        }
    }
    .hidden-border {
        overflow: hidden;

    }
    #c-logos {
        &.slick-slider {
            position: inherit;
        }

        .slick-next,
        .slick-prev {

            background-color: rgba(34, 57, 81, 0.7);
            height: 75px;
            width: 75px;
            z-index: 99;
            top: 350;

            @include notebook {
                top: 50%;
            }
            @include mobile {
                width: 40px;
                height: 40px;
                top: 60%;
            }
        }
        .slick-next {
            right: 0;
            @include tabletW {
                right: 0;
            }
        }
        .slick-prev {
            left: 0;
            @include tabletW {
                left: 0;
            }
        }

        .slick-prev:before {
            content: '\e807';
            display: block;
            font-family: "fontello";
            font-size: 32px;

            background: transparent;
            opacity: 1;
            color: #ffffff;
            @include mobile {
                font-size: 22px;
            }
        }

        .slick-next:before {

            content: '\e806';
            display: block;
            font-family: "fontello";
            font-size: 32px;
            background: transparent;
            opacity: 1;
            color: #ffffff;
            @include mobile {
                font-size: 22px;
            }
        }
    }
    .slick-slide img {
        @include notebook {}
        @include mobile {
            width: 40%;
        }
    }
}
