$cor-open: #233d58;
$cor-eventos: #493dc0;
$cor-mercado: #3d71c0;
$cor-social: #3d96c0;
$cor-tecnologia: #86d1f5;
$cor-variedades: #3dc0bc;


h2 {
    font-family: $anton;
    font-size: toem(90);
    text-transform: uppercase;
    font-weight: 400;
    @include mobile {
        font-size: 5em;
    }

}

.title {
    text-align: center;
    h2 {
        color: #ced1d6;
        line-height: 1;
    }
    span {
        font-family: $regular;
        font-size: toem(25);
        color: #233d58;
        word-spacing: 2px;
        letter-spacing: 1px;
        @include notebook {
            font-size: 1.4em;
        }
        @include mobile {
            font-size: 1.6em;
            margin-top: 10px;
            display: block;
        }

    }
    hr {
        height: 5px;
        width: 90px;
        background: #3dc0bc;
        margin: 26px auto;
    }

}

.btn {
    background: #f34336;
    color: #ffffff;
    font-family: $bold;
    font-size: toem(25);
    text-transform: uppercase;
    padding: 25px 30px;
    word-spacing: 2px;
    letter-spacing: 1px;
    position: relative;
    border: 2px solid #f34336;
    display: block;
    @include transition-duration(0.5s);

    @include notebook {
        font-size: 1.3em;
        padding: 20px 22px;
    }
    @include demaisMonitores {
        font-size: 1.3em;
        padding: 20px 10px;

    }
    @include tabletW {
        font-size: 1.8em;
    }
    i {

        font-size: 1.6em;
        position: absolute;
        top: 15px;
        right: 8px;
        border-left: 2px solid #d4382c;

    }
    &:hover {
        color: #f34336;
        background: #ffffff;
        border: 2px solid #f34336;
    }


}

/** Animação Mouse **/

svg {
    vertical-align: middle;
}

.scroll-down {
    position: absolute;
    left: 50%;
    margin-left: -28px;
    width: 40px;
    height: 40px;
    bottom: 80px;
    padding-left: 7px;
    cursor: pointer;
    z-index: 2;
    color: #3dc0bc;
    @include notebook {
        bottom: 28px;

    }

}

.scroll-down.svg svg {
    width: 32px;
    opacity: 1;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.scroll-down.svg .stroke {
    stroke: #3dc0bc;
}

.scroll-down.svg .scroller {
    fill: #3dc0bc;
    -webkit-animation: updown 1s infinite;
    -moz-animation: updown 1s infinite;
    -o-animation: updown 1s infinite;
    animation: updown 1s infinite;
}

@-webkit-keyframes updown {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    50% {
        -webkit-transform: translate(0, 5px);
        transform: translate(0, 5px)
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@-moz-keyframes updown {
    0% {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    50% {
        -moz-transform: translate(0, 5px);
        transform: translate(0, 5px)
    }
    100% {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@-o-keyframes updown {
    0% {
        -o-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    50% {
        -o-transform: translate(0, 5px);
        transform: translate(0, 5px)
    }
    100% {
        -o-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@keyframes updown {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    50% {
        -webkit-transform: translate(0, 5px);
        transform: translate(0, 5px)
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}





/*************** SCROLLBAR BASE CSS ***************/

.scroll-wrapper {
    overflow: hidden !important;
    padding: 0 !important;
    position: relative;
}

.scroll-wrapper > .scroll-content {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none !important;
    overflow: scroll !important;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;
}

.scroll-wrapper > .scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.scroll-element {
    display: none;
}

.scroll-element,
.scroll-element div {
    box-sizing: content-box;
}

.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
}

.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
    cursor: default;
}

.scroll-textarea {
    border: 1px solid #cccccc;
    border-top-color: #999999;
}

.scroll-textarea > .scroll-content {
    overflow: hidden !important;
}

.scroll-textarea > .scroll-content > textarea {
    border: none !important;
    box-sizing: border-box;
    height: 100% !important;
    margin: 0;
    max-height: none !important;
    max-width: none !important;
    overflow: scroll !important;
    outline: none;
    padding: 2px;
    position: relative !important;
    top: 0;
    width: 100% !important;
}

.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
    height: 0;
    width: 0;
}

/*************** SIMPLE INNER SCROLLBAR ***************/

.scrollbar-inner > .scroll-element,
.scrollbar-inner > .scroll-element div {
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}

.scrollbar-inner > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.scrollbar-inner > .scroll-element.scroll-x {
    bottom: 2px;
    height: 8px;
    left: 0;
    width: 100%;
}

.scrollbar-inner > .scroll-element.scroll-y {
    height: 100%;
    right: 2px;
    top: 0;
    width: 5px;
}

.scrollbar-inner > .scroll-element .scroll-element_outer {
    overflow: hidden;
}

.scrollbar-inner > .scroll-element .scroll-element_outer,
.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=1);
    opacity: 1;
}

.scrollbar-inner > .scroll-element .scroll-element_track {
    background-color: #0a1826;
}

.scrollbar-inner > .scroll-element .scroll-bar {
    background-color: #3dc0bc;
    height: 30px!important;
}

.scrollbar-inner > .scroll-element:hover .scroll-bar {
    background-color: #919191;
}

.scrollbar-inner > .scroll-element.scroll-draggable .scroll-bar {
    background-color: #919191;
}


/* update scrollbar offset if both scrolls are visible */

.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
    left: -12px;
}

.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
    top: -12px;
}


.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
    left: -12px;
}

.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
    top: -12px;
}

#player {
    top: 0;
    display: block;

}

#outer {
    position: relative;
    margin-top: 227px;
    text-align: center;
    i {
        color: #ffffff;
        position: relative;
        top: -50px;
        font-size: 28px;
        text-align: center;
        left: -3px;
        @include transition(all 0.3s ease-in-out);
    }
}


#inner {
    transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    width: 100px;
    height: 100px;
    top: 55px;
    left: 146px;
    position: relative;
    -moz-border-radius: 20px;
    border-radius: 20px;

}
div.wpcf7-mail-sent-ng, div.wpcf7-aborted{
        display: block;
    float: left;
    color: #ffffff;
    padding: 2%;
    font-size: 1.3em;
}
div.wpcf7-validation-errors, div.wpcf7-acceptance-missing{
     float: left;
    color: #ffffff;
    padding: 2%;
    font-size: 1.3em;
}


span.wpcf7-not-valid-tip{
        position: relative;
    top: -17px;
}