.contato {
    background: #e8e9eb url("../img/bg-contatos.jpg") no-repeat top center;
    width: 100%;
    height: 100%;
    position: relative;
    @include notebook {
        padding: 90px 0 15px 0;

    }
    @include demaisMonitores {
        padding: 30px 0 15px 0;

    }
    @include mobile {
        padding: 100px 20px 25px 20px;
        background: #3a5872;
    }
    .title {
        h2 {
            color: #3dc0bc;
            @include mobile {
                font-size: 4em;
            }

        }
        span {
            color: #ffffff;
            @include mobile {
                margin-top: 20px;
                display: block;
            }

        }
        hr {
            background: #f34336;
        }
    }
    .form {
        margin-top: 100px;
        @include notebook {
            margin-top: 10px;
        }
        .campo {}

    }
    input[type="text"],
    input[type="email"],
    select,
    textarea {
        height: 70px;
        color: #ffffff;
        font-size: toem(20);
        color: #b7b7b7;
        width: 100%;
        margin-bottom: 18px;
        padding: 10px 20px;
        @include input-placeholder(#b7b7b7);
        font-family: $light;
        @include tabletW {
            height: 40px;
        }

    }
    textarea {
        height: 157px;
    }
    .campo-input {
        position: relative;

        i {
            font-size: 2.3em;
            position: absolute;
            top: 56px;
            right: 8px;
            border-left: 2px solid #d4382c;
            z-index: 2;
            color: #ffffff;
            @include mobile{
                top: 50px;
            }
        }
        input[type="submit"] {
            width: 100%;
            text-align: left;
            cursor: pointer;
            margin-top: 20px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
    }
    .localizacao {
        margin-top: 115px;
        @include mobile {
            width: 70%;
            margin: 50px auto 0 auto;
        }
        .campo-end {
            position: relative;
            margin-bottom: 30px;
            p {
                font-family: $light;
                color: #ffffff;
                font-size: toem(26);
            }
            i {
                color: #223244;

            }
            .icon-mensagem-01 {
                position: absolute;
                left: -135px;
                font-size: 10em;
                top: -28px;
                @include demaisMonitores {
                    left: -98px;
                    top: -24px;
                }
                @include tabletW {
                    left: -74px;
                    font-size: 8em;
                    top: -7px;
                }

            }
            .icon-local-01 {
                position: absolute;
                left: -115px;
                font-size: 8em;
                top: -72px;
                @include demaisMonitores {
                    left: -80px;
                    top: -54px;

                }
                @include tabletW {
                    left: -65px;
                    font-size: 7em;
                    top: -42px;
                }

            }
        }
        @include demaisMonitores {
            margin-top: 70px;
        }
    }

    .social {
        @nclude mobile {
            width: 90%;
            margin: 0 auto;

        }
        li {
            display: inline;
            margin: 0 8px;
            float: left;
            padding: 60px 0;
            @include mobile {
                padding: 20px 0;
            }
            a {
                background: #3dc0bc;
                float: left;
                padding: 4px 0;

                i {
                    color: #ffffff;
                    font-size: 3em;
                    position: relative;
                    top: -2px;

                }
                &:hover {
                    background-color: rgba(34, 57, 81, 1);
                }
            }


        }
    }

}

.contato-blog {
    background: #e8e9eb url("../img/bg-contato-blog.jpg") no-repeat top center;

}
