section.header-page{
    height: 630px!important;

    @include notebook {
        height: 630px!important;
    }
    @include tabletW {
        height: auto !important;
    }
    &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 50%;
        max-height: 420px;
        background-color: #e8e9eb;

        @include tabletW {
            content: none;
        }
    }
    .single-thumb{
        position: relative;
    }
}
.content{
    padding-top: 2rem;
    padding-bottom: 2rem;
}