.depoimentos {
    background: #e8e9eb url("../img/bg-depoimentos.jpg") no-repeat top center;
    width: 100%;
    height: 100%;
    padding-top: 108px;
    position: relative;
    @include notebook {
        background-position: 0 -166px;

    }
    @include tabletW {
        background-position: 0 -210px;
        padding: 100px 0 50px 0;
    }
    @include mobile {
        background: #ffffff;
        padding: 100px 20px 0px 20px;
    }
    .title {
        h2 {
            color: #233d58;
        }
        span {
            color: #ffffff;
            @include mobile {
                color: #233d58;
            }
        }
        hr {
            background: #ffffff;
            @include mobile {
                background: #233d58;
            }
        }
    }
    .slider-depoimentos {

        .content-depoimento {
            margin-top: 90px;
            text-align: center;
            @include notebook {
                margin-top: -35px;
            }
            @include tabletW {
                margin: 0px 0 30px 0;
            }
            @include mobile {
                margin: -70px 0 30px 0;
            }
            span {
                font-size: toem(147);
                font-family: $anton;
                color: #f34336;
                position: relative;
                top: 90px;
                @include tabletW {
                    top: 45px;
                }
                @include mobile {
                    top: 57px;
                }
            }
            p {
                font-family: $regular;
                font-size: toem(25);
                color: #233d58;
                margin: -12px 0 40px 0;
                 @include mobile {
                     font-size: 1.7em;
                    }
                &.autor {
                    margin-top: 55px;
                    @include notebook {
                        margin: 5px 0 25px 0;
                    }

                }
            }
        }
        .btn-depoimentos {
            text-align: left;
        }

        .slick-next,
        .slick-prev {
            background-color: rgba(34, 57, 81, 0.7);
            height: 75px;
            width: 75px;
            z-index: 99;
            top: 38.5%;
            @include notebook {
                top: 25.5%;
            }
            @include mobile {
                width: 55px;
                height: 55px;
                top: 20.5%;
            }
        }
        .slick-next {
            right: 0;
        }
        .slick-prev {
            left: 0;
        }
    }

}

.slick-prev:before {
    content: '\e807';
    display: block;
    font-family: "fontello";
    font-size: 55px;
    background: transparent;
    opacity: 1;
    color: #ffffff;
    @include mobile {
        font-size: 32px;
    }
}

.slick-next:before {

    content: '\e806';
    display: block;
    font-family: "fontello";
    font-size: 55px;
    background: transparent;
    opacity: 1;
    color: #ffffff;
    @include mobile {
        font-size: 32px;
    }
}
