.footer {
    background: url("../img/bg-footer.jpg") no-repeat top center;
    width: 100%;
    height: 137px;
    position: relative;
    img {
        text-align: center;
        display: block;
        margin: 0 auto;
        padding: 40px 0;

    }
}
