.header {
    width: 100%;
    height: 86px;
    position: fixed;
    background: transparent;
    z-index: 100;
    @include notebook {
        height: 70px;


    }
    @include mobile {
        height: 57px;
    }
    &.header-ativo {
        background-color: rgba(34, 57, 81, 0.7);
    }
    .logo {
        margin: 20px;
        display: block;
        @include mobile {
            margin: 5px;
        }
    }
    .menu-toggle {
        width: 88px;
        height: 86px;
        position: absolute;
        right: 0;
        background: #3dc0bc;
        padding: 17px 18px 5px 23px;
        cursor: pointer;
        @include notebook {
            height: 70px;
            padding: 7px 18px 5px 23px;
            width: 80px;
        }
        @include mobile {
            height: 57px;
            padding: 0px 13px 0px 13px;
            width: 62px;

        }

        &.on {
            .one {
                @include transform(rotate(45deg) translate(10px, 6px));
            }

            .two {
                opacity: 0;
            }

            .three {
                @include transform (rotate(-45deg) translate(16px, -13px));
            }
        }
    }

    .one,
    .two,
    .three {
        width: 100%;
        height: 7px;
        background: white;
        margin: 9px auto;
        backface-visibility: hidden;
        @include transition-duration(0.3s);
    }

    nav .hover {

        padding: 0 0 0 50px;
        list-style: none;
        margin: 15em 0 0 0;
        @include notebook {
            margin: 10em 0 0 0;
        }
        &.hidden {
            display: none;
        }

        a {
            @include transition-duration(0.5s);
            text-decoration: none;
            color: #ffffff;
            font-size: 3em;
            line-height: 1.25;
            width: 100%;
            font-family: $anton;
            font-size: toem(65);
            text-transform: uppercase;
            display: block;
            &:hover {
                color: #3dc0bc;

            }
            @include notebook {
                font-size: 3.5em;
                
            }
        }
        @include mobile{
              padding: 0 20px 0 50px;
        }
    }

    .menu-section {
        &.on {
            z-index: 9999;
            min-width: 485px;
            height: auto;
            display: block;
            background-color: rgba(34, 57, 81, 0.7);
            position: absolute;
            right: 0;
            @include mobile {
                min-width: inherit;
            }
        }
    }
    .social {
        li {
            display: inline;
            margin: 0 8px;
            float: left;
            padding: 62px 0;
            @include notebook {
                padding: 32px 0;
            }
            a {
                background: #3dc0bc;
                i {
                    color: #ffffff;
                    font-size: 0.8em;
                    position: relative;
                    top: -8px;
                    @include mobile {
                        top: -5px;
                    }

                }
                &:hover {
                    background-color: rgba(34, 57, 81, 1);
                }
            }


        }
    }
}
