.home {

    position: relative;

    #hero-slider {
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        height: 100%;
        @include tabletW {
            background-position: -990px;
            background: #000;
        }
        @include mobile {
            background: #000000;

        }
        .slick-list {
            height: 100%;
        }
        .slick-slider {
            height: 100%;
        }
        .slick-slide {
            @include tabletW {
                background-position: -990px;
             
            }
            @include mobile {
                background: #000000!important;

            }
        }
        .slick-track {
            height: 100%;
        }
        .slick-next,
        .slick-prev {
            display: none!important;
        }
        .slick-dots {
            display: block;
            bottom: 50%;
            width: 30px;
            right: 50px;
            z-index: 99999;
            li {
                margin-bottom: 10px;
                &.slick-active {
                    button {
                        &:before {
                            color: #f34336;
                        }
                    }
                }
                button {

                    &:before {
                        content: '\e813';
                        font-family: 'fontello';
                        font-size: 30px;
                        opacity: 1;
                        color: #989899;


                    }
                }
            }
            @include tabletW {
                display: block;
                bottom: 20px;
                width: 100%;
                right: 0;
            }
        }
    }
    .hero-content {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            margin: 0 auto;
        }
    }
    .slide-message {
        margin-bottom: 20px;
    }

    @media (min-width: 992px) {
        .hero-content {
            height: 100%;
        }
    }
    .box-home {

        position: relative;
        width: 100%;
        border: 18px solid #3dc0bc;
        border-top: none;
        border-left: none;
        text-align: left;
        margin: 60px auto;
        min-height: 335px;
        padding: 50px;
        @include notebook {
            padding: 35px;
            margin: 30px 0;
            min-height: inherit;
        }


        .top-border {
            position: absolute;
            height: 18px;
            width: 0;
            background-color: #3dc0bc;
        }
        .left-border {
            position: absolute;
            height: 305px;
            width: 18px;
            bottom: -18px;
            background-color: #3dc0bc;
            @include notebook {
                height: 91%;
            }
        }
        .right {
            width: 94%;
            top: -18px;
            right: -18px;
            @include notebook {
                width: 88%;
            }
            @include demaisMonitores {}
        }

        .left {
            left: 0;
        }
        
        
        p {
            font-family: $anton;
            font-size: toem(56);
            color: #ffffff;
            text-transform: uppercase;
            @include notebook {
                font-size: 3em;
            }
            @include demaisMonitores {
                font-size: 2em;
            }
            &.txt2 {
                font-size: toem(56);
                                   
                @include mobile {
                    font-size: 3em;
                }
            }
            &.txt3 {
                font-size: toem(46);
                @include notebook{
                    font-size: 2.3em;
                }
                @include mobile{
                        font-size: 2.4em;
                }
            }
        }
        &:after {
            content: '';
            width: 58px;
            height: 18px;
            background: #f34336;
            position: absolute;
            top: -18px;
            left: -18px;
            @include mobile {
                width: 48px;
                top: -18px;
                left: -14px;
            }

        }
        &:before {
            content: '';
            width: 18px;
            height: 58px;
            background: #f34336;
            position: absolute;
            top: -38px;
            left: 1px;
            @include mobile {
                height: 51px;
                top: -34px;
                left: 0px;
            }

        }

    }

    .q-home {
        position: absolute;
        width: 96%;
        border: 3px solid #a9afb7;
        border-top: none;
        text-align: center;
        margin: 60px auto;
        height: 554px;
        left: 2%;
        border-bottom: none;
        bottom: -520px;
        @include tabletW {
            display: none;
        }

        .q1 {
            position: absolute;
            height: 3px;

            background-color: #a9afb7;
            -webkit-animation: animateThis 0.8s ease-in;
            -webkit-animation-fill-mode: forwards;
        }
        .right1 {
            right: 0;
        }
        .left1 {
            left: 0;
        }
        @include notebook {
            bottom: -570px;
        }
    }

}

@-webkit-keyframes animateThis {
    0% {
        width: 0;

    }
    100% {
        width: 47%;


    }
}
