.objetivos {
    position: relative;
    background: #233d58;
    @include tabletW {
        padding: 80px 0 0 0;


    }
    @include mobile {
        padding: 0;
    }
    .bx-vermelho {
        height: 40%;
        background: #f34336;
        padding: 105px 50px 50px 50px;
        position: relative;
        @include notebook {
            padding: 80px 50px 0px 50px;
            height: 48%;
        }
        @include tabletW {
            height: auto!important;
            padding: 80px 45px 28px 45px;
        }
        @include mobile {
            display: inline-block;
            width: 100%;
        }


        h2 {
            color: #ffffff;
            font-size: toem(71);
            letter-spacing: 2px;
            @include notebook {
                font-size: 3.8em;

            }
            @include demaisMonitores {
                font-size: 2.6em;
            }
            @include tabletW {
                font-size: 2.9em;

            }
        }
        hr {
            background: #d4382c;
            @include mobile {
                margin: 15px auto;
            }

        }
        span {
            font-family: $light;
            font-size: toem(22);
            @include notebook {
                font-size: 1.6em;
            }

        }
        &:after {
            content: '';
            background: url('../img/seta-bottom.png') no-repeat;
            width: 58px;
            height: 42px;
            position: absolute;
            bottom: -42px;
            left: 65px;
            @include mobile {
                left: 17px;
            }

        }
        &:before {
            content: '';
            background: url('../img/seta-dir.png') no-repeat;
            width: 41px;
            height: 58px;
            position: absolute;
            right: -41px;
            bottom: 105px;
            @include mobile {
                display: none;
            }
        }
    }
    .bx-img {
        background: url("../img/bg-objetivos.jpg") no-repeat top center;
        width: 100%;
        height: 60%;
      
        @include tabletW {
            padding-bottom: 25px;
        }
        @include mobile {
            background: #14314f;
        }
        p {
            color: #ffffff;
            font-size: 2em;
            display: block;

            text-align: center;
            padding: 10% 15% 5% 15%;

        }

    }
    .content-list {
        margin: 0 auto;
        width: 80%;
        height: 415px;
        overflow-y: scroll;
        margin: 35px auto 0 auto;
        @include notebook {
            height: 200px;
            width: 85%;
        }
        @include tabletW {
            height: 261px;
        }
        ul {
            padding-bottom: 50px;
        }
        li {
            display: none;
            font-family: $light;
            font-size: toem(21);
            color: #ffffff;
            margin: 0 0 25px 0;
            @include demaisMonitores {
                margin: 0 0 18px 0;
                font-size: 1.2em;
            }
            @include mobile {

                font-size: 1.7em;
            }
            &:before {
                content: '\00bb';
                color: #3dc0bc;
                font-family: $light;
                margin-right: 10px;
            }
            i {
                color: #f34336;
                font-size: 1.3em;
                float: right;
                margin-right: 20px;
                font-family: $bold;
                cursor: pointer;
            }
        }
        @include mobile {
            width: 95%;
            margin: 15px auto 0 auto;
        }

    }
    .box-objetivo {
        padding: 88px 0;


        @include tabletW {
            padding: 0;
        }
        @include mobile {
            padding: 15px;
        }
        .content-box-objetivo {
            border: 3px solid #ffffff;
            width: 100%;
            height: 275px;
            margin-bottom: 20px;
            padding: 55px 40px 0 40px;
            text-align: center;
            @include notebook {
                height: 166px;
                padding: 24px 40px 0 40px;
            }
            @include demaisMonitores {
                height: 166px;
                padding: 25px 40px;
            }
            @include tabletW {
                padding: 10px;
            }
            @include mobile {
                padding: 25px;
                height: auto;

            }
            h3 {
                text-align: center;
                color: #ffffff;
                font-size: toem(27);
                font-family: $anton;
                text-transform: uppercase;
                font-weight: 400;
                line-height: 1.2;
                @include notebook {
                    font-size: 1.9em;
                }
                @include demaisMonitores {
                    font-size: 1.5em;
                }
            }
            hr {
                background: #a9afb7;
                height: 1px;
                width: 90%;
                margin: 40px auto 15px auto;
                @include notebook {
                    margin: 20px auto 15px auto;
                }
            }
            i {
                color: #a9afb7;
                font-size: 3.2em;
                cursor: pointer;
                @include notebook {
                    font-size: 2.6em;
                }
                @include demaisMonitores {
                    font-size: 2.1em;
                }
                &.ativo {
                    color: #3dc0bc;
                }
                &.desativado {
                    color: #f34336;
                }
            }

        }
    }

    .scrollLink {
        margin-top: 25px;
    }
}
