.aside {
    @include tabletW {
        margin-top: 50px;
    }
    h3 {
        font-family: $anton;
        font-size: toem(35);
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 400;

    }
    .busca {
        h3 {
            color: #b7b7b7;
            padding-left: 20px;
        }
        .campo-busca {
            position: relative;
            input[type="text"] {
                border: none;
                background: transparent;
                border-bottom: 5px solid #3dc0bc;
                width: 100%;
                padding: 10px 20px;
                font-size: toem(15);
                @include input-placeholder(#b7b7b7);
                color: #b7b7b7;
            }
            .enviar {
                background: none;
                position: absolute;
                top: 0;
                font-size: 1.5em;
                right: 15px;
                text-decoration: inherit;
                cursor: pointer;
                &:before {
                    display: inline-block;
                    font-family: "fontello";
                    width: 20px;
                    height: 20px;
                    content: '\e803';
                    color: #f34336;
                }


            }
        }

    }
    .pauta {
        background: #f34336;
        padding: 35px 20px;
        margin-top: 80px;
        h3,
        p {
            color: #ffffff;
        }
        p {
            font-size: toem(18);
            text-transform: uppercase;
            font-family: $roboto-r;
            margin-top: 20px;
        }
        .form {
            margin-top: 20px;
            input[type="text"],
            input[type="email"],
            select,
            textarea {
                height: 65px;
                color: #ffffff;
                font-size: toem(20);
                color: #b7b7b7;
                width: 100%;
                margin-bottom: 10px;
                padding: 10px 20px;
                @include input-placeholder(#b7b7b7);
                font-family: $light;
                @include tabletW {
                    height: 40px;
                }

            }
            textarea {
                height: 157px;
            }
            .campo-input {
                position: relative;

                i {
                    font-size: 2.3em;
                    position: absolute;
                    top: 17px;
                    right: 8px;
                    border-left: 2px solid #ffffff;
                    z-index: 2;
                    color: #ffffff;
                }
                input[type="submit"] {
                    width: 100%;
                    text-align: left;
                    cursor: pointer;
                    margin-top: 20px;
                    border: 5px solid #ffffff;
                    padding: 20px 30px;
                }
            }
        }
    }
    .mais-lidos {
        margin-top: 50px;
        @include mobile{
            margin: 50px 0;
        }
        h3 {
            color: #b7b7b7;
            padding-left: 20px;

        }
        ul {
            padding-left: 20px;
            li {
                margin-top: 10px;
                display: block;
                a {
                    font-family: $roboto-b;
                    font-size: toem(20);
                    &.agencia-open{
                        color: $cor-open;
                    }
                    &.variedades{
                        color: $cor-variedades;
                    }
                    &.mercado{
                        color: $cor-mercado;
                    }
                    &.social-media{
                        color: $cor-social;
                    }
                    &.tecnologia{
                        color: $cor-tecnologia;
                    }
                    &.eventos{
                        color: $cor-eventos;
                    }
                    @include mobile{
                        font-size: 1.5em;
                    }
                }
                hr{
                    height: 6px;
                    width: 30px;
                    background: #b7b7b7;
                    margin-top: 5px;
                    display: block;
                }
            }
        }
    }
}
