.sucesso{
     background: #e8e9eb url("../img/sucesso.jpg") no-repeat top center;
    width: 100%;
    height: 100%;
    position: relative;

    @include tabletW{
        padding: 150px 0;
    }
    img{
        margin-top: 241px;
        @include tabletW{
            margin-top: 0;
            
        }
    }
    h1{
        font-size: toem(50);
        color: #3fc0be;
        text-transform: uppercase;
        line-height: 1em;
        font-family: $anton;
        font-weight: 400;
        letter-spacing: 2px;
        margin-top: 40px;
    }
    p{
        font-size: toem(25);
        color: #ffffff;
        font-family: $regular;
        margin: 35px 0;
        
    }
    hr{
        width: 60px;
        height: 8px;
        background: #f34336;
        margin: 32px 0;
        display: block;
    }
}
.page-template-sucesso{
    .page{
        .header{
            background: transparent;
        }
    }
}