.page {
    .header {
        background: #233d58;
    }

}

.page-template-page-tabalhe-php,
.page-template-page-internas-vagas {
    .moeda {
        background: url("../img/icon-medalha.png") no-repeat top center;
        width: 64px;
        height: 64px;
        display: inline-block;
        text-align: center;
        margin: 0 10px;
        @include mobile {
            display: block;
            text-align: center;
            margin: 0 auto;
        }
    }
    .coracao {
        background: url("../img/icon-coracao.png") no-repeat top center;
        width: 72px;
        height: 58px;
        display: inline-block;
    }
    .mais {
        background: url("../img/icon-mais.png") no-repeat top center;
        width: 25px;
        height: 24px;
        display: inline-block;
    }
    .header-trabalhe {
        background: url("../img/bg-header-trabalhe.jpg") no-repeat top center;
        width: 100%;
        height: 507px;
        background-size: cover;
        background-position: top center;
    }
    .content-trabalhe {
        background: url("../img/bg-content-trabalhe.jpg") no-repeat top center;
        width: 100%;
        height: 970px;
        background-size: cover;
        background-position: center center;
        h1 {
            text-align: center;
            display: block;
            font-size: toem(50);
            color: #3ec0bd;
            text-transform: uppercase;
            font-family: $roboto-b;
            margin: 60px 0;

        }
        .c-moedas {
            text-align: center;
            span {
                margin-bottom: 60px;

            }
        }
        .content-txt {
            background: url("../img/content-texto.png") no-repeat top center;
            width: 536px;
            height: 516px;
            display: block;
            text-align: center;
            margin: 0 auto;
            padding: 50px 0;
            @include mobile {
                width: 80%;
                height: auto;
                background: #ffffff;
            }
            p {
                width: 62%;
                margin: 0 auto;
                font-size: toem(20);
                color: #233d58;
                font-family: $regular;
                margin-bottom: 35px;
                   @include notebook {
                    font-size: 1.5em;
                }
                @include tabletW {
                    font-size: 1.8em;
                }
              
                

            }
        }
    }
    .campo-formulario {
        padding: 215px 0 100px 0;
        background: #dadada url("../img/bg-formulatio-trabalhe.png") no-repeat top center;
        width: 100%;
        height: 1000px;
        position: relative;
        @include mobile {
            height: auto;
        }
        h2 {
            font-family: $start;
            text-transform: uppercase;
            color: #f34336;
            font-size: toem(30);
            text-align: left;
            padding-right: 100px;
            margin: 20px 0;
            line-height: 1.2em;
            letter-spacing: 1px;
            &.vaga {
                color: #233d58;
                font-size: toem(25);
                @include mobile {
                    padding-right: 0;
                }
                br {
                    @include mobile {
                        display: none;
                    }
                }
            }
        }
        hr {
            height: 5px;
            background: #3ec0bd;
            width: 62px;

        }
        h3 {
            font-family: $regular;
            font-size: toem(20);
            text-transform: uppercase;
            display: block;
            margin: 20px 0;
            color: #233d58;
            @include mobile {
                font-size: 1.8em;
            }
        }
        p {
            font-family: $regular;
            font-size: toem(20);
            display: block;
            margin: 20px 0;
            color: #616161;
            padding-right: 135px;
            @include mobile {
                font-size: 1.8em;
                padding-right: 0;
            }

        }
        .lista-vagas {
            width: 680px;
            @include tabletW {
                width: 100%;
            }
            li {
                display: block;
                position: relative;
                width: 100%;
                background: #ffffff;
                margin-bottom: 5px;
                height: 60px;
                a {

                    float: left;
                    font-family: $start;
                    padding: 20px;
                    color: #8c8c8c;
                    font-size: toem(18);
                    width: 100%;
                }
                i {
                    position: absolute;
                    right: 10px;
                    top: 20px;
                }
            }

        }
        .lista-cor {
            position: absolute;
            right: 30px;
            bottom: 30px;
        }
        &.campo-formulario-interno {
            height: auto;
            padding: 150px 0;
        }
    }
}

/* Lightbox background */

#lightbox {
    display: none;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    z-index: 1000;
    height: 100%;
}

/* Lightbox panel with some content */

#interna-vagas {
    h2 {
        color: #8c8c8c;
        font-family: $start;
        font-size: toem(18);
        text-align: left;
        text-transform: inherit;
        @include notebook {
            padding: 0 50px 0 20px;
        }
    }
    p {
        font-family: $regular;
        font-size: toem(20);
        color: #616161;
        line-height: 1.4em;
        margin-top: 43px;
        padding: 0 50px 0 20px;
        @include notebook {
            margin-top: 23px;
        }
        @include notebook {
            margin-top: 13px;
        }
        span{
             text-decoration: line-through;
        }

    }
    h3 {
        font-family: $bold;
        font-size: toem(25);
        color: #616161;
        padding: 15px 50px 10px 20px;
        @include notebook {
            padding: 10px 50px 0px 20px;
        }

    }
    ul {
        padding: 12px 50px 20px 20px;
        @include mobile {
            padding: 7px 50px 7px 20px;
        }
        li {
            font-family: $regular;
            font-size: toem(20);
            color: #616161;
            line-height: 1.3em;
            margin-bottom: 2px;
            span {
                color: #f34336;
            }
        }
    }
    .form {

        input[type="text"],
        input[type="email"],
        input[type="file"] {
            height: 65px;
            color: #616161;
            font-size: toem(20);
            background: #ffffff;
            width: 100%;
            margin-bottom: 10px;
            padding: 10px 20px;
            @include input-placeholder(#616161);
            font-family: $light;
            @include notebook {
                height: 50px;
            }
            @include tabletW {
                height: 40px;
            }

        }

        .campo-input {
            position: relative;
            display: inline-block;
            width: 100%;

            i {
                font-size: 2.3em;
                position: absolute;
                top: 37px;
                right: 8px;
                border-left: 2px solid #ffffff;
                z-index: 2;
                color: #ffffff;
                @include mobile {
                    top: 17px;
                    right: 8px;
                }
            }
            input[type="submit"] {
                text-align: left;
                cursor: pointer;
                margin-top: 20px;

                padding: 20px 30px;
                width: 50%;
                float: right;
                position: relative;
                @include notebook{

                padding: 20px 10px;
                }
                @include mobile {
                    padding: 17px 30px;
                    width: 100%;
                    margin-top: 0px;
                }
            }
        }
        .campo-m {
            width: 50%;
            float: left;
            @include mobile {
                width: 100%;
            }
            input.cel {
                width: 95%;
                @include mobile {
                    width: 100%;
                }
            }
        }

        input[type='file'] {
            display: none
        }

        .input-wrapper label {
            height: 65px;
            color: #616161;
            font-size: toem(20);
            background: #ffffff;
            width: 100%;
            margin-bottom: 10px;
            padding: 20px;
            display: block;
            @include input-placeholder(#616161);
            font-family: $light;
            @include notebook {
                height: 50px;
                padding: 11px 20px;
            }
            @include tabletW {
                height: 40px;

            }
        }

        .input-wrapper label:hover {
            background-color: #f34336;
            color: #ffffff;
        }
    }
}


