@import url('@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');');
html{
    scroll-behavior: smooth;    

}
body{
    font-family: 'Encode Sans', sans-serif;
    font-size:20px;
}
.slideshow-container {
    position: relative;  
  }

img.seta{
      width: 25px;
}

.dot-container {
      text-align: center;
      padding: 0px 20px 20px 20px;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}

#empresa, #nome, #email, #telefone{
    margin:0px;
    padding:0px;
}
textarea#empresa{
    font-size: 16px;
}
@media only screen and (max-width: 1400px) and (min-width: 420px) {
div.overlay, span.hamburger{
    display: none;
}
    .modalDialog{
        display:none;
    }
    div.conteudo{
        border-left: 1px solid #ED4917;
        padding-left: 45px;
    }
    div.topo{
        background-color: #0F1B35;
        position:fixed;
        z-index: 999;
    }
    article.conteudo{
        border-left: 1px solid #ED4917;
        padding-left: 45px;
        border-right: 1px solid #ED4917;
        padding-right: 30px;
        margin-right: 17px;
    }
    h1.titulo {
        text-transform: uppercase;
        margin-top:250px;
        font-size:70px;
        padding-left: 45px;
        letter-spacing: -2px;
        line-height: 80%;
    }
    h2.formulario{
        color: #ED4917;
        margin:22px 0px;
        font-size:22px;
        font-weight: bold;
    }
    h2.titulo {
        color: #ED4917;
        margin: 30px 0px 30px -49px;
        font-size:20px;
        font-weight: bold;
        padding: 15px 15px 15px 45px;
        border-left: 5px solid #ED4917;
    }
    span.novo{
        font-weight: normal;

    }
    span.momento{
        font-weight: bolder;
        -webkit-animation-name: titulo-momento; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
        -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
        animation-name: titulo-momento;
        animation-delay: 1s;
        animation-duration: 6s;
        animation-iteration-count: infinite;
    }
    span.nova{
        font-weight: lighter;
        font-style: oblique;

    }
    span.marca{
        font-weight: normal;
        -webkit-animation-name: titulo; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
        -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
        animation-name: titulo;
        animation-delay: 1s;
        animation-duration: 6s;
        animation-iteration-count: infinite;
    }
    p{
        font-size:25px;
    }
    p.breve{
        font-size: 25px;
        padding: 35px 0px 0px 45px;
    }
    p.servicos{
        width:85%;
    }
    p.saber-mais{
        padding: 100px 0px 0px 45px;
        margin:0px;
    }
    a.saber-mais, a.saber-mais:active, a.saber-mais:link{
        color:#ffffff;
        text-decoration:none;   
    }
    a.saber-mais:hover {
        color:#ED4917;
        transition: 1s;
    }
    p.sobre-nos, p.relatos, p.depoimento, p.nome, p.empresa{
        width:85%;
    }
    p.form{
        font-size: 21px;
    }
    p.depoimento{
        font-size:25px;
        padding: 30px 0px 0px 45px;
    }
    p.nome, p.empresa{
        font-size:16px;
        padding-left: 45px;
    }
    div.principal, div.secundario{
        padding:0px 20px 0px 45px;
    }
    div.formulario{
        position: fixed; 
        top: 0px; 
        right: 10px; 
        z-index: 888; 
        padding: 70px 20px 20px 20px;
    }
    img.logo{
        width: 120px;
        height: 59px;
        float: left;
        margin-right: 100px;
        margin-left:30px;
    }
    img.social{
        width: 25px;
        height: 25px;
        margin: 30px 15px 5px -5px;
        opacity: 0.6;
        text-decoration:none;
    }
    img.social:hover{
        opacity: 1;
        text-decoration:none;
        transition: 1s;
        box-shadow: 0 12px 16px 0 rgba(255,255,255,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
    img.logos {
        width: 90%;
        padding: 50px 0px;
    }
    div.bg-azul{
        background-color: #0F1B35;
        background-image: url("../imagens/fundo.png");
        background-size: 90%;
        background-position: -180% -1950%;
        color: #FFFFFF;
        background-repeat: no-repeat; 
    }
    input[type=text], input[type=tel], input[type=email] {
        color: #ffffff;
        font-size: 15px;
        border:none;
        border-bottom: 1px solid #ffffff;
        background-color: rgba(15, 27, 53, 0.1);    
        padding: 5px 10px 2px 10px;
        outline: none;
        margin-bottom: 10px;
        width: 100%;
    }
    input[type=button], input[type=submit] {
        background-color: #ED4917; 
        border: none;
        color: white;
        padding: 10px 60px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 5px auto 10px auto;
        display: flex; 
        justify-content: center;
        border-radius: 5px;
        font-weight: bold;
        position:relative;
    }
    input[type=submit]:hover{
        background-color: rgb(212, 212, 212);
        font-weight: bold;
        color: #ED4917;
        border: solid 1px #ED4917;
        transition: .5s ease;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

    textarea{
        border-color: #999;
        background-color: rgba(15, 27, 53, 0.1);  
        margin-top: 20px;
        resize: none;
        height:80px;
        width: 100%;
        color: #ffffff;
    }
    [placeholder]:focus::-webkit-input-placeholder {
        transition: text-indent 0.6s 0.6s ease; 
        text-indent: -100%;
        opacity: 1;
        font-size: 16px;
        color: #999;
    }
    form {
        text-align: center;
    }
    body{
        font-family: 'Encode Sans', sans-serif;
        font-size:20px;
    }
    .arrow {
        border: solid #ffffff;
        border-width: 0 3px 3px 0;
        border-radius: 2px;
        display: inline-block;
        padding: 3px;
    }
    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
    .down:hover{
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        transition: 1s;
        border:solid #ED4917;

    }
    #borderimg3 { 
        border: 15px solid transparent;
        border-image-source: url("../imagens/circulo.png");
        border-left:none;
        border-top:none;
        margin-right:10px;
    }
      .topnav a {
        float: left;
        display: block;
        color: white;
        padding-top: 25px;
        margin: 0px 20px 0px 20px;
        padding: 15px 0px 5px 0px;
        border-bottom: 10px solid rgba(255, 255, 255, 0);
        text-align: center;
        text-decoration: none;
        font-size: 17px;
      }
      
      .topnav a:hover {
          color:white;
          border-bottom: 5px solid white;
          text-decoration: none;
          transition-duration: 0.5s;
          border-bottom: 8px solid rgba(255, 255, 255, 1);
      }
      nav.topnav{
          padding-top: 15px;
          padding-bottom: 15px;
      
      }
      .topnav .icon {
        display: none;
      }

      br{
          display:none;
      }
      .footer{
          display:none;
      }
      footer{
        padding: 300px 0px 100px 0px;
        }
        p.rodape{
            font-size:16px;
            padding:0px 15px;
            margin:0px
        }
    .dot-container{
        display:none;
    }
    .mySlides {
        display: none;
        padding: 15px;
        height:180px;
        
      }
      .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 80%;
        width: auto;
        margin-top: -30px;  
    }
    .next {
        position: absolute;
        right: 0;
    
      }
}
  
@media only screen and (max-width: 420px) {
    div.topo{
        background-color: #0F1B35;
        position:fixed;
        z-index: 999;
    }
    p{
        font-size:25px;
    }
    .topnav a {
        display: none;
    }
    nav.topnav{
        display:inline;
    }
    img.logos{
        width: 90%;
    }
    .prev, .next {
        cursor: pointer;
        position: absolute;
        width: auto;
        margin-top: -20px;  
    }
    .next {
        position: absolute;
        right: 0;
    
      }
    div.bg-azul{
        background-color: #0F1B35;
        background-image: url("../imagens/fundo.png");
        background-size: 300%;
        background-position: 65% 115%;;
        color: #FFFFFF;
        background-repeat: no-repeat; 
    }
    .formulario{
        display:none;
    }
    h2.titulo {
        color: #ED4917;
        margin: 30px 0px 10px -15px;
        font-size:20px;
        font-weight: bold;
        padding: 15px 15px 15px 15px;
        border-left: 5px solid #ED4917;
    }
    h1.titulo {
        text-transform: uppercase;
        padding-top:135px;
        font-size:55px;
        padding-left: 10px;
        display:block;
        line-height: 80%;
    }
    img.social{
        display:none;
    }
    div.social{
        float: right;
        position:fixed;
        padding-top: 30px;
    }
    span.novo{
        font-weight: lighter;
    }
    span.momento{
        font-weight: bolder;
        font-style: oblique;
        -webkit-animation-name: titulo-momento; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
        -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
        animation-name: titulo-momento;
        animation-delay: 1s;
        animation-duration: 6s;
        animation-iteration-count: infinite;
    }
    span.nova{
        font-weight: lighter;
    }
    span.marca{
        font-weight: bolder;
        font-style: oblique;
        -webkit-animation-name: titulo; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
        -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
        animation-name: titulo;
        animation-delay: 1.5s;
        animation-duration: 6s;
        animation-iteration-count: infinite;
    }
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50px;
        background-color: #ED4917;
        color: white;
        text-align: center;
        z-index: 900;
        -webkit-animation-name: cta-formulario; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
        -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
        animation-name: cta-formulario;
        animation-delay: 1s;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); 
     }
     .footer:active, .footer:visited, .footer:link{
        color: white;
        text-decoration:none;
     }
     p.breve{
        font-size: 22px;
        padding: 30px 0px 0px 15px;
    }
    img.logo{
        width: 140px;
        padding: 5px 0px 0px 15px;
    }
    p.saber-mais{
        padding: 100px 0px 30px 0px;
        margin:0px;
        text-align: center;
        font-size: 18px;
    }
    a.saber-mais, a.saber-mais:active, a.saber-mais:link,a.saber-mais:hover {
        color:#ffffff;
        text-decoration:none;   
    }
    .arrow {
        border: solid #ffffff;
        border-width: 0 3px 3px 0;
        border-radius: 2px;
        display: inline-block;
        padding: 3px;
    }
    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
    .down:hover{
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        transition: 1s;

    }
	.modalDialog {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0,0,0,0.8);
		z-index: 999;
        opacity:0;
		-webkit-transition: opacity 400ms ease-in;
		-moz-transition: opacity 400ms ease-in;
		transition: opacity 400ms ease-in;
        pointer-events: none;
    }

	.modalDialog:target {
		opacity:1;
		pointer-events: auto;
	}

	.modalDialog > div {
        width: 100%;
        height:100%;
		position: relative;
		margin: 0px;
		padding: 5px 20px 13px 20px;
		background: #fff;
	}
	.close {
    	color: #FFFFFF;
		line-height: 25px;
		position: absolute;
		right: 10px;
		text-align: center;
		top: 10px;
		width: 24px;
		text-decoration: none;
        font-weight: bold;
        -webkit-animation-name: close; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
        -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
        animation-name: close;
        animation-delay: 1s;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); 
    }
    .conteudo-modal{
        border-left: 1px solid #ED4917;
        padding-left: 15px;
    }
    h2.formulario-modal {
        color: #ED4917;
        margin: 3px 0px 10px -15px;
        font-size:20px;
        font-weight: bold;
        padding: 15px 15px 10px 15px;
        border-left: 5px solid #ED4917;
    }
    p.texto-modal, p.clientes, p.relatos{
        font-size: 17px;
    }
    p.depoimento, p.nome, p.empresa{
        font-size: 20px;
        margin: 15px 20px;
    }
    input[type=text], input[type=tel], input[type=email] {
        font-size: 15px;
        border:none;
        border-bottom: 1px solid #999999;
        background-color: rgba(255, 255, 255, 0.1);    
        padding: 5px 10px 2px 10px;
        outline: none;
        margin-bottom: 10px;
        width: 100%;
    }
    input[type=button], input[type=submit] {
        background-color: #ED4917;
        border: none;
        color: white;
        padding: 5px 40px;
        text-decoration: none;
        margin: 4px 2px 10px;
        cursor: pointer;
        border-radius: 10px;
    }
    input:focus, textarea:focus {
        border-color:#ED4917;
    }
    textarea{
        border-color: #999999;
        background-color: rgba(255, 255, 255, 0.1);  
        margin-top: 20px;
        resize: none;
        height:80px;
        width: 100%;
    }
    [placeholder]:focus::-webkit-input-placeholder {
        transition: text-indent 0.6s 0.6s ease; 
        text-indent: -100%;
        opacity: 1;
        font-size: 16px;
    }
    form {
        text-align: center;
    }
    img.logo-rodape{
        width: 40%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    span.hamburger{
        font-size:28px;cursor:pointer;
        color:rgb(196, 196, 196);
        float:right;
        padding: 0px 15px 0px 0px;
        margin-top: -20px;
    }
    .mySlides {
        display: none;
        padding: 15px;
        height:450px;
    }
    p.rodape{
        text-align:center;
        font-size: 14px;
        margin: 0px;
        padding:0px;
    }
    footer{
        padding: 50px 0px 100px 0px;
    }
    a.social-menu{
      display:none;
    }
    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
        z-index:1000;
    }   
    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }    
    .overlay a {
        padding: 8px;
        text-decoration: none;
        color: #ED4917;
        font-size:40px;
        display: block;
        transition: 0.3s;
    }     
    .overlay a:hover, .overlay a:focus {
        color: #d8d8d8;
    }     
    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }
    .overlay a {font-size: 30px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;                 
    }
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 80%;
        width: auto;
        margin-top: -150px;  
    } 
}




/* Safari 4.0 - 8.0 */
@-webkit-keyframes cta-formulario {
	0%  {background-color:  #FF4500 ;left:0px; right: 0px;}
	40%  {background-color: #ED4917 ;left:0px; right: 0px;color:#ffffff}
	45% {background-color: #FF4500 ;left:3px; right: 3px; }
	50%  {background-color: #ED4917 ;left:0px; right: 0px;color:#ffffff}
 	55% {background-color: #FF4500 ;left:-2px; right: -2px;color:#C0C0C0}
 	60% {background-color: #ED4917 ;left:0px; right: 0px;color:#ffffff;}
 	65% {background-color: #FF4500 ;left:3px; right: 3px;}
	70%  {background-color: #ED4917 ;left:0px; right: 0px;color:#ffffff;}
 	75% {background-color:  #FF4500 ;left:-2px; right: -2px;color: #C0C0C0}
 	80% {background-color: #ED4917 ;left:0px; right: 0px;color:#ffffff;}
 	100% {background-color: #FF4500 ;left:0px; right: 0px;}
}
/* Standard syntax */
@keyframes cta-formulario {
	0%  {background-color:  #FF4500 ;left:0px; right: 0px;}
	40%  {background-color: #ED4917 ;left:0px; right: 0px;color:#ffffff}
	45% {background-color: #FF4500 ;left:3px; right: 3px; }
	50%  {background-color: #ED4917 ;left:0px; right: 0px;color:#ffffff}
 	55% {background-color: #FF4500 ;left:-2px; right: -2px;color:#C0C0C0}
 	60% {background-color: #ED4917 ;left:0px; right: 0px;color:#ffffff;}
 	65% {background-color: #FF4500 ;left:3px; right: 3px;}
	70%  {background-color: #ED4917 ;left:0px; right: 0px;color:#ffffff;}
 	75% {background-color:  #FF4500 ;left:-2px; right: -2px;color: #C0C0C0}
 	80% {background-color: #ED4917 ;left:0px; right: 0px;color:#ffffff;}
 	100% {background-color: #FF4500 ;left:0px; right: 0px;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes titulo {
	0%  {color: #ED4917 ;}
	30%  {font-weight: normal;}
    60% {color: #ffffff ;}
    90% {color: #ED4917 ;}
 	100% {color: #f73a00 ;}
}
/* Standard syntax */
@keyframes titulo {
	0%  {color: #ED4917 ;}
	30%  {font-weight: normal;}
    60% {color: #ffffff ;}
    90% {color: #ED4917 ;}
 	100% {color: #f73a00 ;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes titulo-momento {
	0%  {color: #ED4917 ;}
	15%  {font-weight: lighter;}
    50% {color: #ffffff ;}
    90% {color: #ED4917 ;}
 	100% {color: #f73a00 ;}
}
/* Standard syntax */
@keyframes titulo-momento {
	0%  {color: #ED4917 ;}
	15%  {font-weight: lighter;}
    50% {color: #ffffff ;}
    90% {color: #ED4917 ;}
 	100% {color: #f73a00 ;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes close {
    0%  {transform:rotate(0deg);}
    40%  {transform:rotate(0deg);}
    45%  {transform:rotate(15deg);}
    50%  {transform:rotate(-15deg);}
    55% {transform:rotate(15deg);}
    60% {transform:rotate(-15deg);}
    65% {transform:rotate(0deg);}
    100% {transform:rotate(0deg);}
}
/* Standard syntax */
@keyframes close {
    0%  {transform:rotate(0deg);}
    40%  {transform:rotate(0deg);}
    45%  {transform:rotate(15deg);}
    50%  {transform:rotate(-15deg);}
    55% {transform:rotate(15deg);}
    60% {transform:rotate(-15deg);}
    65% {transform:rotate(0deg);}
    100% {transform:rotate(0deg);}
}

